@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-main: #004c9c;
  --color-sec: #fff;
  --color-gray: #efefef;
  --bg-color-hover: #dce0e4;
  --bg-color-active: #00346e;
  --color-menu: #626262;
  --color-text: #464646;
  --color-title: #00285a;
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-gray);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}

.app {
  display: grid;
  width: 100vw;
  grid-template-areas:
    "header header"
    "nav  main";
  grid-template-rows: 12vh auto;
  grid-template-columns: 18vw 80vw;
  column-gap: 2rem;
  overflow-x: hidden;
  text-align: center;
}

/*  HEADER SECTION  */
.app > header {
  grid-area: header;
}

/*  ASIDE MENU  */
.app > nav {
  grid-area: nav;
  margin: 3rem;
}
/* MAIN SECTION*/
.app > main {
  grid-area: main;
  background: var(--color-sec);
  margin: 3rem;
  padding-bottom: 2.5rem;
  border-radius: 1rem;
}
