.page_query {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-dark--1);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.page_new_header {
  height: 9.6rem;
  width: 100vw;
}
.page_new_asideMenu {
  width: 15vw;
}

.page_new_MainSection {
  width: 80vw;
}

.page_new_footer {
  display: flex;
  background: var(--color-main);
}
