.menuprincipal {
  padding-left: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: left;
  width: 20rem;
  height: 80vh;
}
.menuprincipal > ul {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  list-style: none;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: var(--color-text);
}

nav a:hover {
  color: var(--bg-color-active);
}
.iconosMenu {
  font-size: 2.2rem;
}

.bgItem:active {
  display: block;
  background-color: var(--bg-color-active);
}
.bgItem:hover {
  background-color: var(--bg-color-hover);
  width: 120%;
}
.submenu {
  text-transform: none;
}
.submenu__background {
  padding-left: 1rem;
  padding-right: 0.8rem;
  margin-bottom: 0.5rem;
}
.submenu__background:hover {
  background-color: var(--bg-color-active);
  color: #fff;
}
