.homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/hero.jpg");
}

.homepage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 30%;
  background: rgba(9, 10, 10, 0.8);
  box-shadow: 5px 5px 10px rgb(58, 57, 57);
}

.homepage h1 {
  font-size: 4.5rem;
  color: white;
  display: block;
  white-space: nowrap;
  border-right: 4px solid #0d0f10;
  width: 34ch;
  padding: 2rem auto;
  animation: typing 2s steps(28), blind 0.5s infinite step-end alternate;
  overflow: hidden;
}

.homepage h2 {
  width: 80%;
  font-size: 1.9rem;
  color: white;
  margin-bottom: 2.5rem;
}
.homepage hr {
  width: 80%;
  border-color: var(--color-brand--2);
  margin-bottom: 10px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
