.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: var(--color-sec);
  position: relative;
  margin: 18rem;
  width: 70rem;
  height: auto;
  padding: 2rem;
  border-radius: 1.5rem;
}

.form__ticket {
  margin: 5rem auto;
}

.section {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
}

.section > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50rem;
}

.section_divPar > label,
.section_divImpar > label {
  align-self: flex-start;
  padding-left: 4rem;
}

.section_buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 66rem;
}
.form > button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  border-radius: 10px;
  color: var(--color-title);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.6rem;
  font-weight: bold;
}
.form h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.2rem;
  color: var(--color-title);
}
.button_main,
.button_sec {
  background: #004b9c85;
  color: var(--color-text);
  width: 12rem;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 15px;
  cursor: pointer;
}
.button_main {
  border: none;
}
.button_sec {
  background: transparent;
  border-color: #004b9c85;
}
.error {
  font-size: 1.2rem;
  color: var(--color-brand--1);
}
