.header {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  background: #fff;
  width: 100vw;
  padding-top: 1.2rem;
  padding-left: 3.2rem;
  border-bottom: 2px solid var(--color-title);
  position: fixed;
  top: 0;
  left: 0;
}
.imgLogoBox {
  width: 10%;
}
.imgLogo {
  display: block;
  width: 100%;
}

.headerText {
  width: 50%;
  padding: 0 0 0 1.4rem;
}
.headerText h1 {
  text-align: bottom left;
  color: var(--color-title);
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.4rem;
  position: relative;
  top: -10px;
}

.header h1::before {
  content: "Iglesia de Cristo en Nicaragua | Evento presencial";
  text-transform: uppercase;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  bottom: -2rem;
  left: 10;
}

.header h1::after {
  content: attr(data-date);
  position: absolute;
  bottom: -3.5rem;
  left: 15.8rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.headerlink {
  width: 15%;

  margin-left: auto;
}

.btLink {
  display: block;
  width: 50%;
  padding: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;

  color: var(--color-title);
  border-radius: 10px;
  border: 1px solid #004c9c;
}
