/* .tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-buttons button.active {
  background-color: #007bff;
  color: white;
}

.tab-buttons button:hover {
  background-color: #007bff;
  color: white;
}

.tab-content {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
}
.tab-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
} */
.tab-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -1px; /* Solapamiento para integrar las pestañas al contenedor */
  border-bottom: 2px solid #ddd; /* Línea base común */
}

.tab-buttons button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-bottom: none; /* Sin borde inferior para solapar el contenido */
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 5px 5px 0 0; /* Borde superior redondeado */
}

.tab-buttons button:not(:last-child) {
  margin-right: 5px; /* Espacio entre pestañas */
}

.tab-buttons button.active {
  background-color: white; /* Misma que el contenido */
  border-color: #ddd #ddd white; /* Destaca la pestaña activa */
  font-weight: bold;
}

.tab-buttons button:hover {
  background-color: #e9e9e9; /* Color de hover */
}

.tab-content {
  border: 2px solid #ddd;
  border-radius: 0 5px 5px 5px; /* Redondeado sólo en la parte inferior */
  padding: 20px;
  background-color: white;
}
