.asideMenu {
  position: fixed;
  margin-top: 17rem;
  margin-left: 2rem;
}
.asideMenu ul {
  list-style: none;
}

.menu {
  display: block;
  max-width: 100%;
  font-size: 1.8rem;
  color: var(--color-menu);
  text-align: left;
  padding: 1.3rem;
}
.menu_active {
  background: var(--bg-color-active);
  color: #fff;
}
.box_option {
  background: var(--bg-color-hover);
}

.menu:hover,
.submenu:hover {
  background: #626262;
  border-radius: 0.3rem;
  color: #fff;
}

.menu a:link,
.menu a:visited {
  text-decoration: none;
  color: inherit;
}
.submenu:link,
.submenu:visited {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-main);
  text-align: left;
  padding: 1.3rem;
}

/* 
.menuLink:hover {
  background: var(--bg-color-hover);
  border-radius: 0.3rem;
}

.menuLink:active {
  background: (--bg-color-active);
}

.active {
  background: var(--color-main);
  color: #fff;
  font-size: 1.5rem;
} */
